[user]
        name = max-kaufmann 
        email = max.a.kaufmann@gmail.com 
[core]
        editor = vim

[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true
        line-numbers = true
        side-by-side = true
[diff]
        colorMoved = default
[merge]
        conflictstyle = diff3
